*{
    margin: 0%;
    padding: 0%;
}

#main_title{
    text-align: center;
    padding: 15px;
}

#available_books_section{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

#below_available_text{
    margin: 20px;
}

#available_books_section img{
    width: 100%;
}

#available_books_controller{
    display: flex;
    width: 500px;
    justify-content: center;
}

#available_books_controller p{
    text-align: justify;
    padding: 5px;
    
}

.available_books{
    width: 280px;
    border: 10px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 30px;
}


.available_books img{
    height: 388px;
}