*{
  padding: 0%;
  margin: 0%;
}

body{
  background-image: url(susan-q-yin-2JIvboGLeho-unsplash.jpg);
  background-size: cover;
}

header h1{
  background-color: darkgreen;
  width: 100%;
  padding: 20px 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40pt;
  text-align: center;
}

header a{
  text-decoration: none;
  color: aliceblue;
}

#links{
  float: left;
  margin-top: -62px;
  margin-left: 100px;
  font-size: 15pt;
}


#catalog{
  display: flex;

}

#catalog ul{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

.books{
  background-color: rgb(255, 166, 0);
  padding: 15px;
  width: 40%;
}
