*{
  
}

body{
  background-image: url(../images/174774-dark-yellow-oil-painting-background.jpg);
}

#cabecalho{
  font-size: 30pt;
  text-align:center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgba(219, 20, 20, 0.589);
  border-radius: 15%;
  margin-right: auto;
  margin-left: auto;
  width: 32%;
  box-shadow: 10px 10px 10px;
  
}

#bolos{
font-size: 30pt;
text-align:center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: rgba(219, 20, 20, 0.589);
border-radius: 10%;
width: 9%;
box-shadow: 10px 10px 10px;
text 
}

img{
  max-width: 100%;
}


.container{
  column-count: 5;
  column-width: 150px;
  column-rule-width: 10px;
  column-rule-style:ridge;
  column-rule-color: orangered;
}

figure{
  break-inside: avoid;
}

p{
  font-size: 25pt;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein{
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

