*{
    margin: 0%;
    padding: 0%;
}

#section_cadastro{
    display: flex;
}

#cadastro{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#botao_cadastro{
    padding: 8px;
    margin-top: 25px;
}