*{
  
}

body{
  background-image: url(../images/old-crumpled-paper-background_18981-1.png);
  background-repeat: repeat-x;
}

#cabecalho{
  text-decoration: wavy solid;
  font-size: 30pt;
  text-align: center;
  border-top: 2px solid black;
  padding: 20px 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#bolos{

}

#crumpled{
  background
  
}

